.offcanvas-pages {
  background-color: var(--cr-azure-light-80);
}
.offcanvas-pages .offcanvas-header {
  background-color: var(--cr-azure);
  border-bottom: 1px solid var(--cr-azure);
  border-top: 1px solid var(--cr-azure);
  color: var(--cr-azure-light-100);
}
.offcanvas-pages .offcanvas-header .offcanvas-title {
  line-height: 2rem;
}
.offcanvas-pages .offcanvas-body {
  font-size: 0.875em;
  padding: 0;
}
.offcanvas-pages .offcanvas-body .nav-title {
  background-color: var(--cr-azure-light-85);
  border-bottom: 1px solid var(--cr-azure-light-75);
  color: var(--cr-azure-tone-85);
  font-family: var(--bs-font-monospace);
  padding: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-transform: uppercase;
}
.offcanvas-pages .offcanvas-body .nav-title p {
  margin: 0;
}
.offcanvas-pages .offcanvas-body .nav .nav-link {
  background-color: #ffffff;
  border-bottom: 1px solid var(--bs-gray-100);
}
.offcanvas-pages .offcanvas-body .nav .nav-link:last-child {
  border-bottom: 1px solid var(--cr-azure-light-80);
}
.offcanvas-pages .offcanvas-body .nav .nav-link.active {
  background-color: var(--cr-azure-light-70);
  color: var(--cr-azure-dark-80);
}
.offcanvas-pages .offcanvas-body .nav .nav-link.disabled {
  color: var(--cr-azure-dark-80);
}
.offcanvas-pages .offcanvas-body .nav .nav-link:hover {
  background-color: var(--cr-azure-light-30);
  color: var(--cr-azure-light-100);
}
.offcanvas-pages .bi {
  color: var(--cr-azure-dark-80);
  margin-right: 0.3rem;
}

.offcanvas-apps {
  background-color: var(--cr-springGreen-light-80);
}
.offcanvas-apps .offcanvas-header {
  background-color: var(--cr-springGreen);
  border-bottom: 1px solid var(--cr-springGreen);
  border-top: 1px solid var(--cr-springGreen);
  color: var(--cr-springGreen-dark-100);
}
.offcanvas-apps .offcanvas-header .offcanvas-title {
  line-height: 2rem;
}
.offcanvas-apps .offcanvas-body {
  font-size: 0.875em;
  padding: 0;
}
.offcanvas-apps .offcanvas-body .nav-title {
  background-color: var(--cr-springGreen-light-85);
  color: var(--cr-springGreen-tone-85);
  font-family: var(--bs-font-monospace);
  padding: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-transform: uppercase;
}
.offcanvas-apps .offcanvas-body .nav-title p {
  margin: 0;
}
.offcanvas-apps .offcanvas-body .nav .nav-link {
  background-color: #ffffff;
  border-bottom: 1px solid var(--bs-gray-100);
}
.offcanvas-apps .offcanvas-body .nav .nav-link:last-child {
  border-bottom: 1px solid var(--cr-springGreen-light-80);
}
.offcanvas-apps .offcanvas-body .nav .nav-link.active {
  background-color: var(--cr-springGreen-light-70);
  color: var(--cr-springGreen-dark-80);
}
.offcanvas-apps .offcanvas-body .nav .nav-link.disabled {
  color: var(--cr-springGreen-dark-80);
}
.offcanvas-apps .offcanvas-body .nav .nav-link:hover {
  background-color: var(--cr-springGreen-light-30);
  color: var(--cr-springGreen-dark-100);
}
.offcanvas-apps .bi {
  color: var(--cr-springGreen-dark-80);
  margin-right: 0.3rem;
}

.offcanvas-settings {
  background-color: var(--cr-cyan-light-80);
}
.offcanvas-settings .offcanvas-header {
  background-color: var(--cr-cyan);
  border-bottom: 1px solid var(--cr-cyan);
  border-top: 1px solid var(--cr-cyan);
  color: var(--cr-cyan-dark-100);
}
.offcanvas-settings .offcanvas-header .offcanvas-title {
  line-height: 2rem;
}
.offcanvas-settings .offcanvas-body {
  font-size: 0.875em;
  padding: 0;
}
.offcanvas-settings .offcanvas-body .nav-title {
  background-color: var(--cr-cyan-light-85);
  color: var(--cr-cyan-tone-85);
  font-family: var(--bs-font-monospace);
  padding: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-transform: uppercase;
}
.offcanvas-settings .offcanvas-body .nav-title p {
  margin: 0;
}
.offcanvas-settings .offcanvas-body .nav .nav-link {
  background-color: #ffffff;
  border-bottom: 1px solid var(--bs-gray-100);
}
.offcanvas-settings .offcanvas-body .nav .nav-link:last-child {
  border-bottom: 1px solid var(--cr-cyan-light-80);
}
.offcanvas-settings .offcanvas-body .nav .nav-link.active {
  background-color: var(--cr-cyan-light-70);
  color: var(--cr-cyan-dark-80);
}
.offcanvas-settings .offcanvas-body .nav .nav-link.disabled {
  color: var(--cr-cyan-dark-80);
}
.offcanvas-settings .offcanvas-body .nav .nav-link:hover {
  background-color: var(--cr-cyan-light-30);
  color: var(--cr-cyan-dark-100);
}
.offcanvas-settings .bi {
  color: var(--cr-cyan-dark-80);
  margin-right: 0.3rem;
}